*{
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.btn-primary{
    position:absolute;
    top: 50%;
    background-color: blueviolet;
    text-decoration-color: chartreuse;
    border-color: chartreuse;
    padding: 15px;
    min-height: 100px;
    min-width: 200px;
    border-radius: 50px;
   

}